﻿.center {
    text-align:center;
}

.events {
        margin-bottom: 1em;
        padding: 1em;
        background-color: #f6f6f6;
        border: 1px solid #999;
        border-radius: 3px;
        height: 100px;
        overflow: auto;
    }

.center-page{
    width:50%;
    height: 300px;
    

    padding-top:8%;
    bottom:0;
    left:0;
    right:0;

    margin:auto;
}

.CamposPage{
    width:100%;

}

.space-vert
{
    margin-top:20px;
}

.Info-RFC
{
    padding-top:3%;
    padding-left:93%;
}

.Succes-Alert
{
    margin-top:155px;
    width:250px;
    height:45px;
    position:absolute;
    left:750px;
}
